<h1>You're in the lobbyroom </h1>
<p>You're on lobbyroom n°<%= lobbynum %></p>
<p>The following people are there</p>

<p><%
for(var i=0; i <= 2; i++){
  var k = 0;
  var k = i + 1;
%>
  <strong>(<%= k %>)</strong>
  <%= names[i] %><p>
<% } %>
</p>
